<div class="fx-col-stretch-stretch">
  <div class="myPlayer" [style.flex]="'1 1 30%'">
    <div class="fx-row-space-between-center">
      <h2>Player</h2>
      <div class="fx-row-space-between-center">
        <input #fileInputPlayer type="file" hidden="hidden" (change)="tcs.uploadPlayerFile($event)" accept=".html"/>
        <button matButton (click)="fileInputPlayer.click()" matTooltip="Player laden">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </div>
    <h3>{{tcs.playerMeta()?.name}}</h3>
    @if (tcs.playerMeta() && !tcs.playerMeta()?.moduleOk) {
      <div>Konnte Modul nicht erkennen.</div>
    }
    @if (tcs.playerMeta()) {
      <table class="mat-table">
        <tr>
          <td>Filename</td>
          <td colspan="2">{{ tcs.playerMeta()?.fileName }}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td colspan="2">{{ tcs.playerMeta()?.id }}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td colspan="2">{{ tcs.playerMeta()?.version }}</td>
        </tr>
        <tr>
          <td>Verona-Version</td>
          <td colspan="2">{{ tcs.playerMeta()?.specVersion }}</td>
        </tr>
        <tr>
          <td>Metadata-Version</td>
          <td colspan="2">{{ tcs.playerMeta()?.metadataVersion }}</td>
        </tr>
        <tr>
          <td>Not Supported Features</td>
          <td colspan="2">{{ tcs.playerMeta()?.notSupportedFeatures }}</td>
        </tr>
      </table>
    }
  </div>
  <div class="my-units fx-column-start-stretch" [style.flex]="'1 1 30%'">
    <div class="fx-row-space-between-center">
      <h2>Units</h2>
      <div class="fx-row-space-between-center">
        <input #fileInputUnit type="file" hidden="hidden" (change)="tcs.uploadUnitFile($event)" multiple="multiple"/>
        <button matButton (click)="showResponses()" matTooltip="Antworten">
          <mat-icon>rules</mat-icon>
        </button>
        <button matButton (click)="fileInputUnit.click()" matTooltip="Unit(s) laden">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <button matButton (click)="resetUnitList()" matTooltip="Alle Units entfernen">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    @for (unit of tcs.unitList; track $index) {
      <button matButton
              (click)="tcs.setUnitNavigationRequest(unit.sequenceId.toString())"
              [disabled]="unit.definition.length === 0 || !tcs.playerMeta">{{unit.unitId}}</button>
    }
  </div>
  <div class="myWidget" [style.flex]="'1 1 30%'">
    <div class="fx-row-space-between-center">
      <h2>Widget</h2>
      <div class="fx-row-space-between-center">
        <input #fileInputWidget type="file" hidden="hidden" (change)="ws.uploadWidgetFile($event)" accept=".html"/>
        <button matButton (click)="fileInputWidget.click()" matTooltip="Widget laden">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </div>
    <h3>{{ws.widgetMeta()?.name}}</h3>
    @if (ws.widgetMeta() && !ws.widgetMeta()?.moduleOk) {
      <div>Konnte Widget nicht erkennen.</div>
    }
    @if (ws.widgetMeta()) {
      <table class="mat-table">
        <tr>
          <td>Filename</td>
          <td colspan="2">{{ ws.widgetMeta()?.fileName }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td colspan="2">{{ ws.widgetMeta()?.type }}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td colspan="2">{{ ws.widgetMeta()?.id }}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td colspan="2">{{ ws.widgetMeta()?.version }}</td>
        </tr>
        <tr>
          <td>Verona-Version</td>
          <td colspan="2">{{ ws.widgetMeta()?.specVersion }}</td>
        </tr>
        <tr>
          <td>Metadata-Version</td>
          <td colspan="2">{{ ws.widgetMeta()?.metadataVersion }}</td>
        </tr>
        <tr>
          <td>Verona-Widget-Version</td>
          <td colspan="2">{{ ws.widgetMeta()?.widgetVersion }}</td>
        </tr>
        <tr>
          <td>Dependencies</td>
          <td colspan="2">{{ ws.widgetMeta()?.dependencies }}</td>
        </tr>
      </table>
    }
  </div>
</div>
