<div class="mySettings fx-column-start-stretch"  [style.flex]="'1 1 30%'" [style.flex-wrap]="'wrap'">
  <h2>Settings</h2>
  <mat-form-field appearance="fill">
    <mat-label>Logging policy</mat-label>
    <mat-select [(ngModel)]="tcs.playerConfig.logPolicy">
      @for (logPolicy of LogPolicyInOrder; track $index) {
        <mat-option [value]="logPolicy">
          {{logPolicy}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>directDownloadUrl</mat-label>
    <input type="url" [(ngModel)]="tcs.playerConfig.directDownloadUrl" matInput name="directDownloadUrl" placeholder="directDownloadUrl">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="tcs.controllerSettings.reloadPlayer"
                matTooltip="Instead of reuse player and send vopStartCommand with new unit"
  >Reload player for every unit</mat-checkbox>
  <mat-form-field appearance="fill">
    <mat-label>enabledNavigationTargets</mat-label>
    <mat-select [(ngModel)]="tcs.enabledNavigationTargets" multiple="multiple">
      @for (navTargets of NavigationTargetsInOder; track $index) {
        <mat-option [value]="navTargets">
          {{navTargets}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>pagingMode</mat-label>
    <mat-select [(ngModel)]="tcs.playerConfig.pagingMode">
      @for (pagingMode of PagingModeInOrder; track $index) {
        <mat-option [value]="pagingMode">
          {{pagingMode}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>forcePresentationComplete</mat-label>
    <mat-select [(ngModel)]="tcs.forcePresentationComplete">
      @for (presentationComplete of ForcePresentationCompleteInOrder; track $index) {
        <mat-option [value]="presentationComplete">
          {{presentationComplete}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>forceResponseComplete</mat-label>
    <mat-select [(ngModel)]="tcs.forceResponseComplete">
      @for (responseComplete of ForceResponseCompleteInOrder; track $index) {
        <mat-option [value]="responseComplete">
          {{responseComplete}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<section class="button-wrapper">
  <button matButton="elevated" (click)="restartPlayer()">Player-Neustart</button>
  <button matButton="elevated" (click)="applyConfigChanges()">Sofort Anwenden</button>
</section>
