.mySettings {
  background-color: whitesmoke;
  min-width: 300px;
  padding: 16px;
}

section.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    margin: 16px;
  }
}
