header {
  position: absolute;
  width: 100%;
  color: white;
  background-color: darkolivegreen;
  z-index: 444;

  mat-toolbar > * {
    margin: 0 5px;
  }
}

header .material-icons {
  font-size: 24px;
}

.logo {
  height: 60px;
  margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.iqb-name {
  font-size: 0.6em;
  line-height: 1em;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
}

.mat-mdc-fab {
  margin: 2px 6px;
}

.example-container {
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
  overflow-x: auto;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
