<div id="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/IQB-LogoA.png" alt="IQB-logo"/>
    </a>
  </div>
  <div class="title">{{title}}</div>
  <div>
    <button mat-fab color="accent" matTooltip="Zurück"
            [disabled]="!tcs.currentUnitSequenceId || tcs.currentUnitSequenceId < 1"
            (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)">
      <i class="material-icons">chevron_left</i>
    </button>
    <button mat-fab matTooltip="Weiter"
            [disabled]="tcs.unitList.length < 1 || tcs.currentUnitSequenceId == tcs.unitList.length - 1 || !tcs.playerName"
            (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)">
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
</div>

<div class="tc-body" fxLayout="row" fxLayoutAlign="start stretch">
  <router-outlet></router-outlet>
</div>
