#header {
  position: absolute;
  width: 100%;
  padding-top: 2px;
  color: white;
  z-index: 444;
}
#header .material-icons {
  font-size: 36px;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
}

.mat-mdc-fab {
  margin: 2px 6px;
}

.example-container {
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
  overflow-x: auto;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
