<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" alt="IQB-logo"/>
  </a>
</div>
<div id="header" fxLayout="row" fxLayoutAlign="end center">
  <button mat-fab [disabled]="!unitPrevEnabled" color="accent"
          (click)="setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)" matTooltip="Zurück" fxFlex="none">
    <i class="material-icons">chevron_left</i>
  </button>
  <button mat-fab [disabled]="!unitNextEnabled"
          (click)="setUnitNavigationRequest(unitNavigationTarget.NEXT)" matTooltip="Weiter" fxFlex="none">
    <i class="material-icons">chevron_right</i>
  </button>
  <div class="plus-buttons" fxFlex="none" fxLayout="row">
    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Weitere Funktionen..." matTooltipPosition="above" fxFlex>
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="uploadPlayer()">
        <span>Player laden...</span>
      </button>
      <button mat-menu-item (click)="uploadUnit()">
        <span>Unit laden...</span>
      </button>
    </mat-menu>
  </div>
</div>

<input #fileSelect hidden="true" type="file" onclick="this.value=null" (change)="tcs.fileUploaded($event)"/>
<div class="tc-body" fxLayout="row" fxLayoutAlign="start stretch">
  <router-outlet></router-outlet>
</div>
