<div id="unit-title" class="fx-column-center-center">
  <p>{{ unitTitle }}</p>
</div>

<div id="iFrameHost"></div>

<div class="footer fx-row-space-between-center">

  <div  class="fx-row-center-center">
    <div class="statusVisual fx-row-center-center">
      <div *ngFor="let status of tcs.status | keyvalue"
           [style.background-color]="status.value.color" [matTooltip]="status.value.description">
        {{ status.value.label }}
      </div>
    </div>
  </div>

  <div class="fx-row-space-between-center">
    <ng-container *ngIf="(tcs.playerConfig.stateReportPolicy === 'on-demand') && playerRunning">
    <button class="form-item"
            mat-flat-button color="primary"
            (click)="sendVopGetStateRequest()"
            title="vopGetStateRequest">Get State</button>
    <mat-checkbox class="form-item"
                  title="stop after vopGetStateRequest?"
                  color="primary"
                  [(ngModel)]="sendStopWithGetStateRequest">Stop</mat-checkbox>
    </ng-container>
    <button *ngIf="!playerRunning"
            mat-flat-button color="primary"
            (click)="sendVopContinueCommand()"
            title="vopStopCommand">Continue</button>
    <button *ngIf="playerRunning"
            mat-flat-button color="primary"
            (click)="sendVopStopCommand()"
            title="vopStopCommand">Stop</button>
    <app-deny-navigation (denyNavigation)="sendDenyNavigation($event)"></app-deny-navigation>
  </div>

  <div class="fx-row-space-between-center">
    <div *ngIf="showPageNav && playerRunning" class="fx-row-center-center">
      <div id="pageNavPrompt">
        Select Page:
      </div>
      <div *ngFor="let p of pageList">
        <button *ngIf="p.type === '#previous'" (click)="gotoPage(p.type)" [disabled]="p.disabled" class="fx-row-center-center">
          <i class="material-icons">chevron_left</i>
        </button>
        <button *ngIf="p.type === '#next'" (click)="gotoPage(p.type)" [disabled]="p.disabled" class="fx-row-center-center">
          <i class="material-icons">chevron_right</i>
        </button>
        <div *ngIf="p.type === '#goto'" class="fx-column-start-stretch">
          <div class="pageNavEnabled" *ngIf="!p.disabled"></div>
          <div class="pageNavDisabled" *ngIf="p.disabled"></div>
          <button (click)="gotoPage(p.type, p.index)" [disabled]="p.disabled">{{ p.index }}</button>
          <div class="pageNavEnabled" *ngIf="!p.disabled"></div>
          <div class="pageNavDisabled" *ngIf="p.disabled"></div>
        </div>
      </div>
    </div>
  </div>

</div>
