<div id="unit-title" class="fx-column-center-center">
  {{ unitTitle }}
</div>

<div id="iFrameHost"></div>

<div class="footer fx-row-space-between-center">

  <div  class="fx-row-center-center">
    <div class="statusVisual fx-row-center-center">
      <app-status-badge header="focus" [value]="tcs.focusStatus"></app-status-badge>
      <app-status-badge header="presentation" [value]="tcs.presentationStatus"></app-status-badge>
      <app-status-badge header="responses" [value]="tcs.responseStatus"></app-status-badge>
    </div>
  </div>

  <button class="denyButton" (click)="showResponses()">
    Antworten
  </button>

  <button class="denyButton" [disabled]="tcs.presentationStatus === 'complete' && tcs.responseStatus === 'complete'"
          (click)="sendDenyNavigation()">send DenyNavigation</button>

  <div class="fx-row-space-between-center">
    <div *ngIf="showPageNav && playerRunning" class="fx-row-center-center">
      <div id="pageNavPrompt">
        Select Page:
      </div>
      <div *ngFor="let p of pageList">
        <button *ngIf="p.type === '#previous'" (click)="gotoPage(p.type)" [disabled]="p.disabled" class="fx-row-center-center">
          <i class="material-icons">chevron_left</i>
        </button>
        <button *ngIf="p.type === '#next'" (click)="gotoPage(p.type)" [disabled]="p.disabled" class="fx-row-center-center">
          <i class="material-icons">chevron_right</i>
        </button>
        <div *ngIf="p.type === '#goto'" class="fx-column-start-stretch">
          <div class="pageNavEnabled" *ngIf="!p.disabled"></div>
          <div class="pageNavDisabled" *ngIf="p.disabled"></div>
          <button (click)="gotoPage(p.type, p.index)" [disabled]="p.disabled">{{ p.index }}</button>
          <div class="pageNavEnabled" *ngIf="!p.disabled"></div>
          <div class="pageNavDisabled" *ngIf="p.disabled"></div>
        </div>
      </div>
    </div>
  </div>

</div>
