<div fxLayout="row">
  <div class="myUnits" fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.UNIT)" matTooltip="Unit(s) hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button (click)="tcs.emptyUnitList()" matTooltip="Unit-Liste löschen">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h2>Units</h2>
    <button mat-raised-button *ngFor="let unit of tcs.unitList"
            (click)="tcs.setUnitNavigationRequest(unit.sequenceId.toString())"
            [disabled]="unit.definition.length === 0">{{unit.filename}}</button>
  </div>
  <div class="myPlayers">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.PLAYER)" matTooltip="Player hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <h2>Player</h2>
    <ul>
      <li *ngFor="let player of tcs.players | keyvalue">{{player.key}}</li>
    </ul>
  </div>
  <div class="mySettings" fxLayout="column">
    <h2>Settings</h2>
    <mat-slide-toggle color="accent" [(ngModel)]="isVersion2">
      Verona Interface Version 2
    </mat-slide-toggle>
    <mat-slide-toggle class="indented" [disabled]="!isVersion2" color="primary"
                      [(ngModel)]="tcs.suppressPlayerConsoleMessages">
      Unterdrücke Player-Nachrichten in der Debug-Konsole
    </mat-slide-toggle>
  </div>
</div>
