.myPlayers, .myUnits, .mySettings {
  margin: 20px;
  padding: 10px;
  min-width: 300px;
}
.myUnits {
  background-color: lavender;
}
.myPlayers {
  background-color: whitesmoke;
}
.mySettings {
  background-color: lemonchiffon;
}
.mat-raised-button {
  min-width: 100px;
  margin: 2px;
}
