.myPlayers {
  background-color: whitesmoke;
  margin: 20px;
  padding: 10px;
  min-width: 300px;
}
.myUnits {
  margin: 20px;
  padding: 10px;
  min-width: 300px;
  background-color: bisque;
}
.mat-raised-button {
  min-width: 100px;
  margin: 2px;
}
