<div fxLayout="row">
  <div class="myUnits" fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.UNIT)" matTooltip="Unit(s) hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button (click)="tcs.emptyUnitList()" matTooltip="Unit-Liste löschen">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h2>Units</h2>
    <button mat-raised-button *ngFor="let u of tcs.unitList" (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())" [disabled]="u.definition.length === 0">{{u.filename}}</button>
  </div>
  <div class="myPlayers">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.PLAYER)" matTooltip="Player hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <h2>Player</h2>
    <ul>
      <li *ngFor="let p of tcs.players | keyvalue">{{p.key}}</li>
    </ul>
  </div>
  <div class="mySettings" fxLayout="column">
    <h2>Settings</h2>
    <mat-slide-toggle
      color="accent"
      [(ngModel)]="isVersion2">
      Verona Interface Version 2
    </mat-slide-toggle>

    <mat-form-field appearance="fill" >
      <mat-label>logPolicy</mat-label>
      <mat-select [disabled]="!isVersion2" [(ngModel)]="tcs.playerConfig.logPolicy">
        <mat-option *ngFor="let logPolicy of ['disabled', 'lean', 'rich', 'debug']" [value]="logPolicy">
          {{logPolicy}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>stateReportPolicy</mat-label>
      <mat-select [disabled]="!isVersion2" [(ngModel)]="tcs.playerConfig.stateReportPolicy">
        <mat-option *ngFor="let stateReportPolicy of ['none', 'eager', 'on-demand']" [value]="stateReportPolicy">
          {{stateReportPolicy}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>pagingMode</mat-label>
      <mat-select [disabled]="!isVersion2" [(ngModel)]="tcs.playerConfig.pagingMode">
        <mat-option *ngFor="let pagingMode of ['separate', 'concat-scroll', 'concat-scroll-snap']" [value]="pagingMode">
          {{pagingMode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
