@use '@angular/material' as mat;
:root {
  --tc-header-height: 65px;
  --tc-unit-title-height: 40px;
  --tc-unit-page-nav-height: 45px;
}
/* You can add global styles to this file, and also import other style files */
@include mat.core();

$iqb-primary: mat.define-palette(mat.$cyan-palette, 900);
$iqb-accent: mat.define-palette(mat.$light-green-palette, A200);
$iqb-app-theme: mat.define-light-theme((
  color: (
    primary: $iqb-primary,
    accent: $iqb-accent,
  ),
  density: 0,
));

@include mat.all-component-themes($iqb-app-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #2b0052;
}
.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}
div.logo img {
  width: 100px;
}
div.title {
  font-size: xx-large;
}
iframe.unitHost {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

.fx-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fx-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fx-row-stretch-stretch {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.fx-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-column-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
