@use '@angular/material' as mat;

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --tc-header-height: 65px;
  --tc-unit-title-height: 40px;
  --tc-unit-page-nav-height: 45px;
}

/* You can add global styles to this file, and also import other style files */
@include mat.elevation-classes();
@include mat.app-background();

$iqb-primary: mat.m2-define-palette(mat.$m2-cyan-palette, 900);
$iqb-accent: mat.m2-define-palette(mat.$m2-light-green-palette, A200);
$iqb-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $iqb-primary,
    accent: $iqb-accent,
  ),
  density: 0,
));

@include mat.all-component-themes($iqb-app-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #cfc9d5;
}
.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}
div.logo img {
  width: 100px;
}
div.title {
  font-size: xx-large;
  margin-left: 200px;
}
iframe.unitHost {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

.fx-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fx-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.fx-row-stretch-center-gap {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 6px;
}
.fx-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fx-row-stretch-stretch {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.fx-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-column-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
