:host ::ng-deep {
  .mat-checkbox-frame {
    border-color: white;
  }
  .mat-checkbox-label {
    color: white;
  }
}

.form-item{
  margin-right: 10px;
}

.mat-toolbar-single-row {
  background-color: #006064;
  position: absolute;
  bottom: 0;
  height: var(--tc-unit-page-nav-height);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .mat-icon {
    color: white;
  }
}

#iFrameHost {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: var(--tc-unit-page-nav-height);
  padding: 0;
  background-color: white;
}

.footer {
  width: 100%;
  height: 45px;
  bottom: 0;
  font-size: 1.2em;
  gap: 10px;
}

#pageNavPrompt {
  padding: 2px 8px;
  color: white;
}

#pageNav button {
  font-size: 0.8em;
}

#pageNav .nav-button {
  min-width: 20px;
  height: auto;
  padding: 0 5px;
  color: white;

  &:disabled {
    color: #888;
  }
}

.statusVisual {
  margin: 0 10px;
}

.statusVisual div {
  padding: 2px 10px;
  margin: 0 5px;
}

.responsesButton {
  padding: 4px 10px;
  font-size: 12px;
  height: 30px;
}
