<div fxLayout="row">
  <div class="my-units" fxLayout="column">
    <div fxLayout="row">
      <input #fileInputUnit type="file" hidden="hidden" (change)="tcs.uploadFile($event, uploadFileType.UNIT)" multiple="multiple"/>
      <button mat-raised-button (click)="fileInputUnit.click()" matTooltip="Unit(s) hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button (click)="tcs.unitList = []" matTooltip="Unit-Liste löschen">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h2>Units</h2>
    <button mat-raised-button *ngFor="let unit of tcs.unitList"
            (click)="tcs.setUnitNavigationRequest(unit.sequenceId.toString())"
            [disabled]="unit.definition.length === 0 || !tcs.playerName">{{unit.filename}}</button>
  </div>
  <div class="myPlayers">
    <div fxLayout="row">
      <input #fileInputPlayer type="file" hidden="hidden" (change)="tcs.uploadFile($event, uploadFileType.PLAYER)" accept=".html"/>
      <button mat-raised-button (click)="fileInputPlayer.click()" matTooltip="Player hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <h2>Player</h2>
    <h3>{{tcs.playerName}}</h3>
    <table *ngIf="tcs.playerMeta" class="mat-table">
      <thead>
        <tr>
          <th colspan="3">Metadata ({{VeronaModuleMetadataVersions[tcs.playerMeta.metadataVersion]}})</th>
        </tr>
      </thead>
      <tr>
        <td >Filename</td>
        <td colspan="2">{{ tcs.playerName }}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td colspan="2">verona-{{ tcs.playerMeta.data.type || '(module)' }}-{{ tcs.playerMeta.data.id || '(id)' }}-{{ tcs.playerMeta.data.version || '(version)' }}</td>

      </tr>
      <tr *ngIf="tcs.playerMeta.data.specVersion">
        <td>Verona Version</td>
        <td colspan="2">{{ tcs.playerMeta.data.specVersion }}</td>
      </tr>
      <ng-container *ngIf="tcs.playerMeta.data.name">
        <tr *ngFor="let name of tcs.playerMeta.data.name; let index = index">
          <td>{{index == 0 ? 'Name' : ''}}</td>
          <td>{{name.lang}}</td>
          <td>{{name.value}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="tcs.playerMeta.data.description">
        <tr *ngFor="let description of tcs.playerMeta.data.description; let index = index">
          <td>{{index == 0 ? 'Description' : ''}}</td>
          <td>{{description.lang}}</td>
          <td>{{description.value}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="tcs.playerMeta.data.maintainer">
        <tr *ngFor="let mName of tcs.playerMeta.data.maintainer.name; let index = index">
          <td>{{index == 0 ? 'Maintainer' : ''}}</td>
          <td>{{mName.lang}}</td>
          <td>{{mName.value}}</td>
        </tr>
        <tr>
          <td>Maintainer</td>
          <td>Mail</td>
          <td colspan="2">{{tcs.playerMeta.data.maintainer.email}}</td>
        </tr>
        <tr>
          <td>Maintainer</td>
          <td>URL</td>
          <td colspan="2">{{tcs.playerMeta.data.maintainer.url}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="tcs.playerMeta.data.code">
        <tr *ngIf="tcs.playerMeta.data.code.repositoryUrl">
          <td>Repository</td>
          <td>{{tcs.playerMeta.data.code.repositoryType || '??'}}</td>
          <td>{{tcs.playerMeta.data.code.repositoryUrl}}</td>
        </tr>
        <tr *ngIf="tcs.playerMeta.data.code.licenseType || tcs.playerMeta.data.code.licenseUrl">
          <td>Licence</td>
          <td>{{tcs.playerMeta.data.code.licenseType}}</td>
          <td>{{tcs.playerMeta.data.code.licenseUrl}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="tcs.playerMeta.data.notSupportedFeatures && tcs.playerMeta.data.notSupportedFeatures.length">
        <tr>
          <td>notSupportedFeatures</td>
          <td colspan="2">
            <ul>
              <li *ngFor="let feature of tcs.playerMeta.data.notSupportedFeatures">{{feature}}</li>
            </ul>
          </td>
        </tr>
      </ng-container>
    </table>

  </div>

  <div class="mySettings" fxLayout="column">
    <h2>Settings</h2>
    <mat-form-field appearance="fill">
      <mat-label>Logging policy</mat-label>
      <mat-select [disabled]="!tcs.playerSupports('log-policy')" [(ngModel)]="tcs.playerConfig.logPolicy">
        <mat-option *ngFor="let logPolicy of ['disabled', 'lean', 'rich', 'debug']" [value]="logPolicy">
          {{logPolicy}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>StartPage</mat-label>
      <input type="number" [(ngModel)]="tcs.playerConfig.startPage" matInput name="startPage" placeholder="startPage">
    </mat-form-field>
    <mat-label>enabledNavigationTargets</mat-label>
    <mat-checkbox *ngFor="let item of enabledNavigationTargetsStates; let i = index"
                  [value]="item.name"
                  (change)="onCheckboxChange()"
                  [(ngModel)]="enabledNavigationTargetsStates[i].enable">
      {{item.name}}</mat-checkbox>
    <mat-form-field appearance="fill" >
      <mat-label>stateReportPolicy</mat-label>
      <mat-select [disabled]="!tcs.playerSupports('state-report-policy')" [(ngModel)]="tcs.playerConfig.stateReportPolicy">
        <mat-option *ngFor="let stateReportPolicy of ['none', 'eager', 'on-demand']" [value]="stateReportPolicy">
          {{stateReportPolicy}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>pagingMode</mat-label>
      <mat-select [disabled]="!tcs.playerSupports('paging-mode')" [(ngModel)]="tcs.playerConfig.pagingMode">
        <mat-option *ngFor="let pagingMode of ['separate', 'concat-scroll', 'concat-scroll-snap']" [value]="pagingMode">
          {{pagingMode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
