<div fxLayout="row">
  <div class="myUnits" fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.UNIT)" matTooltip="Unit(s) hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button (click)="tcs.emptyUnitList()" matTooltip="Unit-Liste löschen">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h2>Units</h2>
    <button mat-raised-button *ngFor="let unit of tcs.unitList"
            (click)="tcs.setUnitNavigationRequest(unit.sequenceId.toString())"
            [disabled]="unit.definition.length === 0">{{unit.filename}}</button>
  </div>
  <div class="myPlayers">
    <div fxLayout="row">
      <button mat-raised-button (click)="tcs.setUploadFileRequest(uploadFileType.PLAYER)" matTooltip="Player hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <h2>Player</h2>
    <ul>
      <li *ngFor="let player of tcs.players | keyvalue">{{player.key}}</li>
    </ul>
  </div>
  <div class="mySettings" fxLayout="column">
    <h2>Settings</h2>
    <label id="radio-group-label"><h3>Verona Interface Version</h3></label>
    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="radio-group"
                     ngDefaultControl
                     [(ngModel)]="selectedVersion">
      <mat-radio-button class="radio-button"
                        *ngFor="let version of versions"
                        [value]="version"
                        (change)=updateVersion($event)>
        {{version}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-slide-toggle *ngIf="selectedVersion === 'v2_0'"
                      class="indented" color="primary"
                      [(ngModel)]="tcs.suppressPlayerConsoleMessages">
      Unterdrücke Player-Nachrichten in der Debug-Konsole
    </mat-slide-toggle>
  </div>
</div>
