<div fxLayout="row">
  <div class="my-units" fxLayout="column">
    <div fxLayout="row">
      <input #fileInputUnit type="file" hidden="true" (change)="tcs.uploadFile($event, uploadFileType.UNIT)" accept=".voud" multiple="true"/>
      <button mat-raised-button (click)="fileInputUnit.click()" matTooltip="Unit(s) hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-raised-button (click)="tcs.unitList = []" matTooltip="Unit-Liste löschen">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h2>Units</h2>
    <button mat-raised-button *ngFor="let unit of tcs.unitList"
            (click)="tcs.setUnitNavigationRequest(unit.sequenceId.toString())"
            [disabled]="unit.definition.length === 0 || !tcs.playerName">{{unit.filename}}</button>
  </div>
  <div class="myPlayers">
    <div fxLayout="row">
      <input #fileInputPlayer type="file" hidden="true" (change)="tcs.uploadFile($event, uploadFileType.PLAYER)" accept=".html"/>
      <button mat-raised-button (click)="fileInputPlayer.click()" matTooltip="Player hochladen">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <h2>Player</h2>
    <strong><u>{{ tcs.playerName }}</u></strong>
    <br><br>
    <h3>Player's Metadata</h3>
    <table>
      <tr *ngFor="let item of tcs.playerMeta | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </table>
    <div *ngIf="tcs.notSupportedApiFeatures.length > 0">
      <h3>Not Supported Features</h3>
      <ul>
        <li *ngFor="let feature of tcs.notSupportedApiFeatures">
            <b>{{feature}}</b>: {{tcs.notSupportedApiFeatureDescriptions[feature]}}
        </li>
      </ul>
    </div>
  </div>

  <div class="mySettings" fxLayout="column">
    <h2>Settings</h2>
    <label id="radio-group-label"><h3>Verona Interface Version</h3></label>
    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="radio-group"
                     ngDefaultControl
                     [(ngModel)]="selectedVersion">
      <mat-radio-button class="radio-button"
                        *ngFor="let version of versions"
                        [value]="version"
                        (change)="updateVersion($event.value)">
        {{version}}
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="selectedVersion === 'v2_3x'">
      <mat-form-field appearance="fill">
        <mat-label>Logging policy</mat-label>
        <mat-select [disabled]="!tcs.playerSupports('log-policy')" [(ngModel)]="tcs.playerConfig.logPolicy">
          <mat-option *ngFor="let logPolicy of ['disabled', 'lean', 'rich', 'debug']" [value]="logPolicy">
            {{logPolicy}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>StartPage</mat-label>
        <input type="number" [(ngModel)]="tcs.playerConfig.startPage" matInput name="startPage" placeholder="startPage">
      </mat-form-field>
      <mat-label>enabledNavigationTargets</mat-label>
      <mat-checkbox *ngFor="let item of enabledNavigationTargetsStates; let i = index"
                    [value]="item.name"
                    (change)="onCheckboxChange()"
                    [(ngModel)]="enabledNavigationTargetsStates[i].enable">
        {{item.name}}</mat-checkbox>
    </ng-container>
    <mat-form-field appearance="fill" >
      <mat-label>stateReportPolicy</mat-label>
      <mat-select [disabled]="!tcs.playerSupports('state-report-policy')" [(ngModel)]="tcs.playerConfig.stateReportPolicy">
        <mat-option *ngFor="let stateReportPolicy of ['none', 'eager', 'on-demand']" [value]="stateReportPolicy">
          {{stateReportPolicy}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>pagingMode</mat-label>
      <mat-select [disabled]="!tcs.playerSupports('paging-mode')" [(ngModel)]="tcs.playerConfig.pagingMode">
        <mat-option *ngFor="let pagingMode of ['separate', 'concat-scroll', 'concat-scroll-snap']" [value]="pagingMode">
          {{pagingMode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
